
.button {
   display:block;
     width: 115px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    list-style: none;
    text-decoration: none !important;
    cursor: pointer;
    
}
.buttonSelected {
   display:block;
     width: 115px;
    background:green;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    list-style: none;
    text-decoration: none !important;
    cursor: pointer;
    
}
.buttonWrong{
  display:block;
     width: 115px;
    background:red;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    list-style: none;
    text-decoration: none !important;
    cursor: pointer;
}
.divSubmit{
  float:right;
}
a{
     margin-right: 10px;
    margin-left: 10px;
}
.buttonGrey {
   display:inline-block;
     width: 70px;
    background: #ccc;
    padding: 3px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    list-style: none;
    text-decoration: none !important;
    cursor: pointer;
    
}
i{
  padding-left:5px;
  padding-right:5px;
}
.header{
  text-align: center;
}
.result,.question{
  text-align: center;
}
.result>.button{
  display:inline-block;
  top:10px;
}
.app-loading {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%; 
      } 
      .app-loading .spinner {
        height: 50px;
        width: 50px;
        animation: rotate 2s linear infinite;
        transform-origin: center center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
      .app-loading .spinner .path {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        animation: dash 1.5s ease-in-out infinite;
        stroke-linecap: round;
        stroke: #4E9CAF;
      }
      @keyframes rotate {
        100% {
          transform: rotate(360deg);
        }
      }
      @keyframes dash {
        0% {
          stroke-dasharray: 1, 200;
          stroke-dashoffset: 0;
        }
        50% {
          stroke-dasharray: 89, 200;
          stroke-dashoffset: -35px;
        }
        100% {
          stroke-dasharray: 89, 200;
          stroke-dashoffset: -124px;
        }
      }
