<div>
	<div class="grid">
		<div id="quiz" *ngIf="!showResult">
			<h1 class="header">Question</h1>
			<hr style="margin-bottom: 20px">
			  <!-- loading layout replaced by app after startupp -->
      <div class="app-loading" *ngIf="showLoader">
        <div class="logo"></div>
        <svg class="spinner" viewBox="25 25 50 50">
          <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg> 
      </div>
			<div *ngFor="let item of data; index as i;" class="col-md-12">
				<div *ngIf="item.active">
					<p id="question" class="question">{{item.key}}</p>
					<div align="center" class="col-md-12">
						<span class="buttons col-md-6" *ngFor="let option of item.options;">
						<a class='button' (click)="onSubmitClick(item,option,data,i)">{{option}}</a>
					</span>
				</div>
			</div>
		</div>
		<hr style="margin-top: 50px">
		<footer>
			<p id="progress">Question {{currentQn}} of {{data.length}}</p>
		</footer>
	</div>
  <div *ngIf="showResult">
      <h1 class="header">Result</h1>
		  <hr style="margin-bottom: 20px">
      <div class="result"> 
        <strong >Your Score : {{score}}</strong>
        <br/>
        <a class='button' routerLink="/">Home <i class="fa fa-home"></i></a>
        </div>
     
  </div>
</div>
</div>
