.button {
    display: block;
    width:250px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    list-style: none;
    text-decoration: none !important;
    cursor: pointer;
}
.header{
  text-align: center;
}
i{
  padding-left:5px;
  padding-right:5px;
}